body
{
    text-align: center;
    font-family: abel, sans-serif;
}
#header
{
    background: #646464;
    text-align: right;
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-weight: 100;
    padding-right: 40px;
}
#header img
{
    margin-top: -15px;
}
.highlight
{
    color: #d9b300;
}
a, a:link, a:hover
{
    color: #0080d9;
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
a:hover
{
    color: #d9b300;
}
.page
{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}
.bigpage
{
    height: 400px;
}
.bigpage.main
{
    background: #ffef6c;
    padding-top: 70px;
    height: 310px;
    margin-bottom: -60px;
    /*
      -moz-animation-duration: 1s;
      -webkit-animation-duration: 1s;
      -moz-animation-name: slidein;
      -moz-animation-timing-function: linear;
      -webkit-animation-name: slidein;
      -webkit-animation-timing-function: linear;
      */

}
 /*   
    @-moz-keyframes slidein {
      from {
        height: 280px;
        padding-top: 50px;
      }
      
      to {
        height: 310px;
        padding-top: 70px;
      }
    }
    
    @-webkit-keyframes slidein {
      from {
        height: 280px;
        padding-top: 50px;
      }
      
      to {
        height: 310px;
        padding-top: 70px;
      }
    }
    */
.bigtext
{
    font-size: 60px;
    font-weight: 100;
    font-family: Helvetica, "Helvetica Neue", sans-serif;
    letter-spacing: -0.08em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.bigtext2
{
    font-size: 35px;
    font-weight: 100;
    font-family: Helvetica, "Helvetica Neue", sans-serif;
    letter-spacing: -0.08em;
    margin-bottom: 20px;
    text-align: center;
    color: rgba(0,0,0,0.7);
}
.page h1
{
    font-variant: bold;
    font-weight: 400;
    font-family: bebas-neue, Helvetica, "Helvetica Neue", sans-serif;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0px;
    letter-spacing: -0.04em;
    font-size: 50px;
}
#bee {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
          cursor: pointer;
}
#bee:hover {
  -webkit-transform: rotate(-360deg);
     -moz-transform: rotate(-360deg);
       -o-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
          transform: rotate(-360deg);
}
ul
{
    text-align: left;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.footer
{
    padding: 20px;
    font-size: 10px;
    color: #aaa;
}

@media screen and (max-width: 768px) {
.page
{
    width: auto;
}
#header
{
    text-align: center;
    padding-right: 0px;
}
.bigtext
{
font-size: 45px;
}
.bigtext2
{
font-size: 25px;
}
ul
{
    width: 250px;
}
.page.padding
{
    padding: 10px;
}
}